html {
  padding: 0;
  margin: 0;
}
.week-div {
  margin-top: 10px;
}

.week-div > div {
  margin: 4%;
  width: 5%;
  display: inline-block;
  text-decoration: underline;
}

.month-div {
  text-align: center;
  margin-top: 15px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 400px;
}

.day-div {
  display: inline-block;
  margin: 4%;
  width: 5%;
}

.month-header {
  font-size: 25px;
  padding-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #85858C;
}
/*#region ------------------ SCROLL BAR -----------------------------------------*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}
::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cdcdcd;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
/*scrollbar color styles for IE, unfortunatly FF doesn't work with scrollbar styling*/
body {
  scrollbar-base-color: #cdcdcd;
  scrollbar-3dlight-color: #cdcdcd;
  scrollbar-highlight-color: #cdcdcd;
  scrollbar-track-color: #e6e6e6;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #cdcdcd;
}

/*#endregion ---------------------------------------------------------*/

/*#region ------------------------ LOGIN -----------------------------*/
.loginContainer {
  height: 100vh;

}
.loginWrapper {
  border: 1px solid #e3e3e3;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.loginLogo {
  margin: 40px auto 10px;
  max-width: 100px;
}

.welcomeText {
  color: #000;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}
.welcomeTextGrey {
  color: #c7c7cb;
  font-size: 17px;
  text-shadow: 0 1px 4px rgb(0 0 0 / 25%);
}
.googleContainerWrapper {
  border: 1px solid #e3e3e3;
  padding: 20px 10px;
  background: #fff;
  border-radius: 5px;
  margin: 25px auto 20px;
}
.googleLogo {
  height: 24px;
  margin: 0 0 20px;
  overflow: visible;
  position: relative;
  width: 75px;
}
.GButton {
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  height: 50px;
  width: 240px;
}
.GButtonBlue {
  background-color: #4285f4;
  border: none;
  color: #fff;
}
.GButtonBlue .GButtonContentWrapper {
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
}
.GButtonBlue .GButtonIcon {
  background-color: #fff;
  border-radius: 1px;
  float: left;
  padding:15px;
}
.GButtonIconImage {
  width:18px;
  height:18px;
}
.GButtonContents {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
  font-size: 16px;
  line-height: 48px;
}
.GButtonBlue:hover {
  background-color: #4285f4;
}
.GButton:hover {
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}
@media (min-width: 0) and (max-width: 420px) {
  .welcomeText {
    font-size: 27px;
  }
  .welcomeTextGrey {
    font-size: 14px;
  }
}
/*#endregion ---------------------------------------------------------*/

// app global css in SCSS form
.q-btn .q-focus-helper,
.q-item .q-focus-helper,
.q-tab .q-focus-helper {
  display: none;
}

.q-dialog__inner > .q-card .q-field--with-bottom {
  padding-bottom: 0;
}
.q-dialog__inner > .q-card .q-field--with-bottom .q-field__bottom {
  display: none;
}

.q-card__actions .q-btn__wrapper {
  padding: 4px 16px;
}
.q-card__actions .q-btn {
  min-width: 178px;
  background: $yellow;
  border: 1px solid $yellow;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
}
.q-card__actions .q-btn.cancelBtn {
  background: #fff;
  border-color: $yellow;
  color: $purple-2;
}
.q-card__actions .q-btn.delBtn {
  margin-left: auto;
  margin-right: 0;
  border: 0 none;
  background: transparent;
  color: $yellow;
  min-width: auto;
}
.q-card__actions .q-btn.delBtnMobile {
  margin-left: auto;
  margin-right: 0;
  border: 0 none;
  background: transparent;
  color: $yellow;
  min-width: 42px;
  width: 42px;
  overflow: hidden;
}
.q-card__actions .q-btn:hover {
  background: $purple-2;
  color: #fff;
  border-color: $purple-2;
}
.q-card__actions .q-btn[disabled] {
  background: #c7c7cb;
  border-color: #c7c7cb;
  opacity: 1 !important;
}
.q-card__actions .q-btn[disabled].cancelBtn {
  background: #fff;
  color: #c7c7cb;
}
.q-card__actions .q-btn[disabled].delBtn
, .q-card__actions .q-btn[disabled].delBtnMobile {
  background: transparent;
  color: #c7c7cb;
}
@media screen and (max-width: 520px) {
  .q-card__actions {
    justify-content: space-between !important;
  }
  .q-card__actions .q-btn {
    min-width: 85px;
  }
  .q-card__actions .q-btn:last-child {
    margin: 0 !important;
  }
}

a:not(.q-btn) {
  color: $purple;
  text-decoration: none;
}
a:not(.q-btn) > span {
  text-decoration: underline;
}
a:not(.q-btn) > span.text-normal {
  text-decoration: none;
}
a:not(.q-btn) > .q-icon {
  margin-right: 5px;
}
a:not(.q-btn):hover {
  color: $yellow;
}
a:not(.q-btn).reversed {
  color: $yellow;
  text-decoration: none;
}
a:not(.q-btn).reversed:hover {
  color: $purple;
}



.q-drawer .q-item {
  border-radius: 10px;
}
.q-drawer .q-item .q-item__label {
  font-weight: 500;
}
.q-drawer .q-item .q-icon {
  color: $purple-1;
}
.q-drawer--mobile .q-item .q-icon {
  color: $purple;
}
.q-drawer .q-item.q-router-link--exact-active
, .q-drawer .q-item.q-router-link--exact-active .q-item__label
, .q-drawer--mobile .q-item.q-router-link--exact-active .q-icon {
  color: $grey-2 !important;
  cursor: default;
}
.q-drawer .q-item:not(.q-router-link--exact-active):hover .q-icon
, .q-drawer .q-item:not(.q-router-link--exact-active):hover .q-item__label
, .q-drawer .q-btn:hover
, .q-drawer .q-btn:hover i {
  color: $yellow !important;
  background: transparent;
}




.q-header {
  padding: 15px;
  height: 117px;
}
.additionalStickyHeaderRow
, .additionalStickyHeaderRowRight
, .additionalStickyHeaderRowRight2 {
  position: fixed;
  top: 77px;
  z-index: 2001;
}
.additionalStickyHeaderRowRight {
  right: 16px;
  top: 78px;
}




.mainCalendar .q-field {
  padding: 0;
  max-width: 190px;
}
.mainCalendar .q-field .q-field__control
, .mainCalendar .q-field .q-field__marginal {
  height: 34px;
}
.mainCalendar .q-field .q-field__control input {
  color: $grey-1;
  text-align: right;
}
.mainCalendar .text-subtitle1 {
  font-size: 14px;
  font-weight: 300;
}
.CDateNav .q-btn__wrapper {
  padding: 0 10px;
}


.q-drawer .scrollArea {
  height: calc(100% - 128px);
  margin: 70px 0 58px;
}

.q-drawer .q-drawer__content {
  background: $grey-2 !important;
}

.q-drawer--mobile .q-drawer__content {
  background: $purple-2 !important;
}

.q-drawer .q-drawer__content .q-btn
, .q-drawer .q-drawer__content .q-item .q-item__label {
  font-size: 15px;
}

.q-drawer--mobile .q-drawer__content .q-btn
, .q-drawer--mobile .q-drawer__content .q-item .q-item__label {
  font-size: 15px;
}

.q-drawer .q-drawer__content .fixed-bottom {
  bottom: 20px;
}

.q-drawer--mobile .q-mini-drawer-only {
  display: inline-flex !important;
}

.mobile-close {
  position: absolute !important;
  top: 20px;
  right: 20px;
}
/* ------------- TOOLTIP -------------- */
.q-tooltip {
  padding: 0;
  background: transparent;
  border: 0 none;
  box-shadow: 3px 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}
.logoutTooltip {
  background: $yellow;
  color: $purple;
  font-size: 12px;
  border-radius: 4px;
  padding: 6px 10px;
}
.pumperTooltip {
  background: $yellow;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  padding: 6px 10px;
}
/*---------------------------------------*/



.q-field__label {
  font-size: 13px;
}
.q-input.yellowText input {
  color: $yellow;
}
.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}
.q-field--standard.q-field--readonly .q-field__control:before {
  border-bottom-style: solid;
}

.q-card {
  border-radius: 10px;
}
.q-card__actions {
  padding: 15px;
}
.q-card .duration {
  position: absolute;
  left: 0;
  top: 18px;
  white-space: nowrap;
}

.logoLink {
  padding: 0;
  margin: 0;
  min-height: auto;
  max-width: max-content;
}

/*#region ------ POPUPS -------*/
.q-card .q-bar {
  background: #fff;
  height: 72px;
  padding: 20px 28px;
}
.q-dialog__inner > .q-card .q-scrollarea .q-card__section--vert,
.q-dialog__inner > .q-card .landscapeScroll .q-card__section--vert {
  padding: 10px 16px;
}
.q-dialog__inner > .q-card > .q-card__section--vert,
.q-dialog__inner > .q-card .q-card__section--vert.q-px-none {
  padding: 0;
}

.q-dialog__inner .q-tab-panels {
  height: calc(100% - 215px);
}
.q-dialog__inner .q-tab-panel {
  padding: 0;
}
.q-dialog__inner > .q-card .q-tab-panel .q-scrollarea {
  height: 100%;
  max-height: 100%;
}
.q-dialog__inner > .q-card .fullWidthNarrowTabs .q-tab {
  min-height: 36px;
}

.q-dialog__inner > .q-card {
  width: 1000px;
  max-width: 90vw;
  max-height: 630px; /*625px;*/
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.q-dialog__inner > .q-card.widerEditor {
  width: 1150px;
  max-width: 90vw;
}
.q-dialog__inner > .q-card .scroll-area {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
@media (min-width: 0) and (max-width: 420px) {
  .q-dialog__inner > .q-card {
    height: 95vh;
    max-height: calc(95vh - 104px);
  }
  .container .text-h4 {
    font-size: 30px;
  }
}
@media (min-height: 0) and (max-height: 700px) and (orientation: landscape) {
  .q-dialog__inner > .q-card {
    height: 87vh;
    max-height: calc(87vh - 104px);
  }
}
.q-dialog__inner > .q-card .q-field .q-field__inner .q-field__control-container .q-field__native span /* ellipsis for all fields in popup */
, .q-dialog__inner > .q-card .q-field .q-field__inner .q-field__control-container input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*#endregion*/

/*#region ------ GLOBAL TABLE ------*/
.q-table__card {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

table {
  background: transparent !important;
  box-shadow: none;
}

table th {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: $grey-1;
}

table tr {
  border: 0 none !important;
}

.q-table tbody td:before {
  background: none;
}

table td .oil-icon {
  margin-right: 5px;
  margin-top: -5px;
  color: $purple-1;
}

.q-table__progress .q-linear-progress {
  color: $yellow !important;
}

table td .showRecentBtn {
  margin-right: 0;
}


.q-table--grid .q-table__middle {
  margin-bottom: 0;
}

.simpleTableMobileView {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #fff;
}

.simpleTableMobileView .q-table__middle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.simpleTableMobileView .q-table__top {
  padding: 0;
}

.simpleTableMobileView table th {
  text-align: left;
}

.simpleTableMobileView th .text-h6 {
  font-size: 16px;
  color: #381841;
  font-weight: 500;
  margin-top: 15px;
}

.simpleTableMobileView th .text-caption {
  font-size: 12px;
  text-transform: none;
}

.tableCard {
  box-shadow: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid #f0f0f0;
  background: $grey-3;
  padding: 13px 0;
}

.tableCard .tableCardDataRow { /* made for align data in row according to alignment of table header */
  padding: 7px 16px;
}

.tableCard .q-card__section--vert {
  padding: 8px 16px;
}

.tableCardSearch {
  box-shadow: none;
  width: 100%;
  border-radius: 0;
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
}
/*#endregion*/

/*#region ---- OIL DESIGN TABLE and EDITABLE TABLE -----*/
.tableWrapper {
  width: 100%;
  margin-top: 10px;
  position: relative;
  //max-height: 602px; /* ???????? height 597 */
  height: 72vh;
}

.full-screen-wrapper {
  height: 81vh !important;
}

.oilDesignTable {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #fff;
}

.tableWrapper .oilDesignTable {
  margin-top: 0;
  height: 100%;
}

.wideHeaderTable th {
  padding: 27px 16px 24px; /*height=70px*/
}

.stickyHeaderTable .q-table__progress th {
  top: 70px;
}

.stickyHeaderTable thead tr th {
  position: sticky;
  z-index: 1;
  top: 0;
  background: #fff;
}


.editableTable th {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding: 16px;
}

.editableTable th.text-center, .editableTable tbody tr td.text-center {
  text-align: center !important;
}

.editableTable th.text-left, .editableTable tbody tr td.text-left {
  text-align: left !important;
}

.editableTable th.text-right, .editableTable tbody tr td.text-right {
  text-align: right !important;
}

.editableTable th .text-h6 {
  font-size: 17px;
  color: $purple-2;
  font-weight: 500;
}

.editableTable th .text-caption {
  font-size: 12px;
  text-transform: none;
}

.editableTable tbody tr td {
  font-size: 14px;
  height: 54px;
}

.editableTable tbody tr td:first-child {
  font-weight: 500;
  font-size: 15px;
  color: $purple-2;
}

.no-equip-icon-td {
  text-align: center;
}

.no-equip-icon-td div {
  color: $purple-1 !important;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.no-equip-icon-td > div {
  height: 50vh;
  width: 2000px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.no-equip-icon-block {
  display: inline-block;
}

.no-equip-icon-block > div {
  margin-top: 20px;
}

.no-equip-icon-td:hover {
  background: white !important;
}

.no-equip-icon-td:hover .q-icon{
  color: $purple-1 !important;
}

.no-equip-icon-td:hover div{
  color: $purple-1 !important;
}

.editableTable tbody tr:hover td {
  background: $grey-3;
  cursor: default;
}

.editableTable tbody tr:hover td:first-child, .editableTable tbody tr:hover td .oil-icon {
  color: $yellow;
}

.editableTable tbody tr td .addTicketBtn .q-icon {
  font-size: 18px;
  margin: 0;
}

.editableTable tbody tr td .showRecentBtn, .editableTable tbody tr td .addTicketBtn {
  visibility: hidden;
}

.editableTable tbody tr:hover td .showRecentBtn, .editableTable tbody tr:hover td .addTicketBtn, .editableTable tbody tr.activeRow td .showRecentBtn, .editableTable tbody tr.activeRow td .addTicketBtn {
  visibility: visible;
  color: $yellow;
  cursor: pointer;
}

.editableTable tr.activeRow td, .editableTable tr.activeRow:hover td {
  background: $grey-3;
}

.editableTable tr.activeRow td:first-child, .editableTable tr.activeRow td .oil-icon {
  color: $yellow !important;
}

.editableTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.editableTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
/*#endregion */

/*#region ----- GAUGE ------*/
.gaugeSearch {
  margin: 0 0 15px;
}

.recalculateBtn {
  top: -57px;
  z-index: 1;
}

.recalculateBtn .q-btn {
  color: $purple;
  font-size: 16px;
  font-weight: 600;
}

.QRBtn {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 14px;
}
@media screen and (min-width: 0) and (max-width: 420px) {
  .QRBtn {
    top: 4px;
    font-size: 11px;
  }
}

.recalculateBtn .q-btn:hover, .gaugeSearch .q-field__append button:hover {
  color: $yellow;
}

.gaugeTable {
  background: transparent;
  border-radius: 0;
}

.gaugeTable table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.gaugeTable table table {
  border-spacing: 0;
}

.gaugeTable table th {
  border-bottom: 0 none;
  vertical-align: bottom;
}

.gaugeTable tbody tr:hover {
  cursor: pointer;
  -webkit-box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
  -moz-box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
  box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
}

.gaugeTable > div > table > tbody > tr:hover > td:not(.tableContainer) {
  background: #FEFCFF;
}

.gaugeTable > div > table > tbody > tr:hover > td:not(.tableContainer):first-child {
  color: $yellow;
}

.gaugeTable > div > table > tbody > tr > td {
  background: #fff;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 80px;
  line-height: 63px;
}

.gaugeTable > div > table > tbody > tr > td:not(.tableContainer):first-child {
  font-size: 18px;
  color: $purple-2;
  text-transform: uppercase;
  font-weight: 500;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px 0 0 10px;
}

.gaugeTable > div > table > tbody > tr > td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 10px 10px 0;
}

.gaugeTable > div > table > tbody > tr.unroundBottom td:first-child {
  border-radius: 10px 0 0 0;
}

.gaugeTable > div > table > tbody > tr.unroundBottom td:last-child {
  border-radius: 0 10px 0 0;
}

.gaugeTable .tableContainer {
  padding: 0;
  border-collapse: collapse;
  border: 0 none !important;
  background: transparent !important;
}

.gaugeTable .tableArrow {
  margin-right: 0;
  margin-top: 1px;
}

.tableArrow.arrow_down {
  transform: rotate( -180deg );
}

.summaryFacilityTable {
  margin-top: -10px;
  border-radius: 0;
  background: transparent;
}

.summaryFacilityTable tbody tr td {
  border-radius: 0;
  background: #F8F6F8;
  line-height: 33px;
}

.summaryFacilityTable tbody tr:last-child td {
  border-bottom-width: 1px;
}

.summaryFacilityTable tbody tr:hover td {
  background: #fff;
}

.summaryFacilityTable tbody tr:hover td:first-child, .summaryFacilityTable tbody tr:hover td .oil-icon {
  color: $yellow;
}

.summaryFacilityTable tbody tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: 500;
  font-size: 15px;
  color: $purple-2;
}

.summaryFacilityTable tbody tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.summaryFacilityTable tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.summaryFacilityTable tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.showDetails {
  display: none;
}

.summaryFacilityTable tr:hover .showDetails {
  display: block;
}

.sellable-tip {
  color: white;
  margin-left: 25px;
  margin-top: -115px;
  max-width: 400px;
  height: 80px;
  background: $yellow;
  position: absolute;
  z-index: 30000;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 3px 4px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11);
}

.sellable-tip-button {
  color: red;
  font-size: 22px;
  padding-bottom: 3px
}

.tip-button-close {
  color:black;
  margin-left: 330px;
  margin-top: -7px;
  width: 100px;
}

.tip-footer {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 13px;
  color: #ebebeb;
}

.tip-header {
  margin-top: 10px;
  margin-left: 10px;
}

/*gauge mobile*/
.gaugeTableMobile .tableCard {
  background: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 12px;
}

.gaugeTableMobile .tableCard .nameText {
  font-size: 16px;
  line-height: 34px;
  color: #381841;
  text-transform: uppercase;
  font-weight: 500;
}

.gaugeTableMobile .tableCard .headerText {
  font-weight: 500;
  font-size: 9px;
  text-transform: uppercase;
  color: #85858C;
}

.gaugeTableMobile .tableCard .hideFirstElement .q-table__grid-item:first-child {
  display: none;
}

.summaryFacilityTableMobile {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  flex-direction: row;
  border-radius: 0;
}

.summaryFacilityTableMobile .rowItemSection {
  border-bottom: 1px solid #f0f0f0;
  background: #f8f6f8;
}

.summaryFacilityTableMobile .rowItemSection:last-child {
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}

.summaryFacilityTableMobile .rowItemSection .nameText {
  font-size: 12px;
  text-transform: uppercase;
  color: $yellow;
  line-height: 28px;
}
/*#endregion */

/*#region ------------ TABS ------------*/
/*------ GLOBAL TABS -------*/
.q-tab-panels {
  background: transparent;
}

.q-tab-panel {
  padding: 0 0 10px;
}
/*-------------------------*/
.pumpFacilityTabs .q-tab {
  background: #fbfbfc;
  border: 1px solid #cdcdcd;
  padding: 35px 28px 25px;
  margin-right: 20px;
  margin-bottom: 6px;
  border-radius: 10px;
  justify-content: flex-start;
  min-width: 170px;
}

.pumpFacilityTabs .q-tab:hover {
  background: $purple;
  border-color: $purple;
  color: $grey-2;
}

.pumpFacilityTabs .q-tab.q-tab--active {
  border-color: $purple-2;
  cursor: default !important;
}

.pumpFacilityTabs .q-tab.q-tab--active:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-top: 6px solid $purple-2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.pumpFacilityTabs .q-tab:last-child {
  margin-right: 0;
}

.pumpFacilityTabs .q-tab .q-tab__label {
  font-size: 18px;
}

.pumpFacilityTabs + .q-tab-panels {
  margin-top: 10px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .pumpFacilityTabs .q-tab {
    padding: 26px 28px 20px;
  }
}

@media (min-width: 0) and (max-width: 600px) {
  .pumpFacilityTabs .q-tab {
    padding: 21px 28px 15px;
    margin-right: 10px;
    min-width: 140px;
  }

  .pumpFacilityTabs .q-tab .q-tab__label {
    font-size: 14px;
  }
}

.fullWidthNarrowTabs .q-tab {
  background: #fff;
  border: 1px solid #cdcdcd;
  margin: 10px 0;
}

.fullWidthNarrowTabs .q-tab:first-child {
  border-radius: 10px 0 0 10px;
}

.fullWidthNarrowTabs .q-tab:last-child {
  border-radius: 0 10px 10px 0;
}

.fullWidthNarrowTabs .q-tab.q-tab--active {
  border-color: $purple-2;
}

.fullWidthNarrowTabs .q-tab:hover {
  background: $purple;
  border-color: $purple;
}

.fullWidthNarrowTabs .q-tab.q-tab--active {
  border-color: $purple-2;
  cursor: default !important;
}

@media (min-width: 0) and (max-width: 600px) {
  .fullWidthNarrowTabs .q-tab {
    min-height: 36px;
  }
}

.simpleTableTabsWrapper {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: #fff;
}

.simpleTableTabsWrapper .q-tab-panel {
  padding: 0;
}

.simpleTableTabs .q-tab {
  padding: 25px 16px 0;
}

.simpleTableTabs .q-tab .q-tab__label {
  font-size: 17px;
}

.simpleTableTabsWrapper .tableWrapper {
  margin-top: 0;
}

.simpleTableTabsWrapper .tableWrapper .oilDesignTable {
  border: 0 none;
  border-radius: 0 0 10px 10px;
}

.simpleTableTabsWrapper .oilDesignTable th {
  padding: 41px 16px 10px; /*height=70px*/
  background: $grey-3;
}

.simpleTableTabsWrapper .oilDesignTable tbody tr:hover td:first-child, .simpleTableTabsWrapper .oilDesignTable tbody tr:hover td .q-icon {
  color: $yellow !important;
}

.simpleTableTabsWrapper .simpleTableMobileView {
  border: 0 none;
  margin-top: 0;
}

.simpleTableTabsWrapper .simpleTableMobileView table th {
  padding: 41px 16px 10px;
  background: $grey-2;
}
/*#endregion */

/*#region -------------  PUMP FACILITY ----------------*/
.pumpFacilityHeader, .pumpRouteHeader {
  width: calc(100% - 140px);
  top: 85px;
}

.pumpRouteHeader {
  top: 55px;
}

.selectWrapper {
  max-width: 100%;
}

.selectWrapper .q-select > .q-field__inner .q-field__control-container .q-field__native span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pumpAddBtn {
  position: absolute;
  right: 0;
  top: 2px;
}

.pumpSelectors {
  top: 60px;
  width: calc(100% - 297px);
}

.pumpMainCalendar {
  top: 23px;
  right: 290px;
}

.pumperBadge {
  position: fixed;
  top: 20px;
  right: 620px;
  z-index: 2001;
  cursor: default;
}
.pumperBadge .ellipsis {
  max-width: 150px;
}

.pump-date-btn {
  position: absolute;
  top: 7px;
  right: 60px;
}
/* TANKS */



/* GAS METERS */
.gas-meter-checkbox {
  padding-top: 25px;
}
/*------------*/

/* LIQUID METERS */


/* RUN TICKETS */
.col-date {
  width: 170px;
  margin: 0 15px 0 0;
}

.col-date .icon-calendar {
  color: $yellow !important;
}

.col-search {
  width: calc(100% - 370px);
}
/* DOWNTIMES */


/* ALLOCATION */



.noPaginationTable .tableCard:last-child {
  border-radius: 0 0 10px 10px;
}
/*#endregion ------------------------------------------*/

/*#region -------------  TESTER REPORT ----------------*/
.testerAddBtn {
  position: absolute;
  right: 0;
  top: 3px;
}

.testerFormBtn {
  position: fixed;
  top: 86px;
  right: 66px;
  z-index: 2001;
}

.testerReportTableMobile table th {
  width: 33%;
  text-align: left;
}
/*#endregion */

/*#region -------------  EMPLOYEE ----------------*/
.employeeAddBtn {
  position: absolute;
  right: 0;
  top: 3px;
}

.employeeRoleBtn {
  position: fixed;
  top: 87px;
  right: 66px;
  z-index: 2001;
}

.employee-checkbox {
  padding-top: 10px;
}
/*#endregion */

/*#region -------------  ANALYTICS ----------------*/
.anlyticsList .q-item {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
}

.anlyticsList .q-item:hover {
  cursor: pointer;
  -webkit-box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
  -moz-box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
  box-shadow: rgb(0 0 0 / 8%) 8px 1px 15px;
}

.analyticAddBtn {
  position: absolute;
  right: 0;
  top: 3px;
}
/*#endregion */

/*#region ------------- EQUIPMENT LIBRARY ----------------*/
.simpleTableTabsWrapper .assetAddBtn {
  position: absolute;
  right: 0;
  top: 3px;
}
/*#endregion */

/*#region ------------- QR CODE SCANNER ----------------*/
.QRReader {
  max-width: 640px;
  max-height: 480px;
  margin: 15px 15px 5px;
}
.qrActionLink {
  margin: 10px 15px;
  color: $purple;
  font-size: 15px;
}
.readerBtn {
  min-width: 178px;
  background: $yellow;
  border: 1px solid $yellow;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.readerBtn:hover {
  background: $purple-2;
  color: #fff;
  border-color: $purple-2;
}
/*qr code listing*/
.qrTable .q-table__grid-content {
  justify-content: center;
}
.qrCodeReport {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  margin: 5px;
  padding: 5px;
  width: 280px;
  overflow: hidden;
  background: #fff;
}
.qrCodeReport .q-card__section {
  padding: 5px;
}
/*qr code button*/
.showQRBtn {
  min-width: 100px;
  background: $yellow;
  border: 1px solid $yellow;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.showQRBtn:hover {
  background: $purple-2;
  color: #fff;
  border-color: $purple-2;
}
.printqrBtn {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: $purple-2;
  text-decoration: none;
  min-width: 100% !important;
}
.printqrBtn:hover {
  text-decoration: underline;
}
.generate-qr-btn {
  margin: 50px auto;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  background: white;
  text-align: center
}
.generate-qr-btn-mobile {
  width: 300px !important;
}
.generate-qr-btn-title {
  padding-top: 27px;
  font-size: 22px;
  line-height: 1em;
  display: block;
  color: $yellow;
}
.generate-qr-btn-subtitle {
  margin: 5px;
  font-size: 13px;
  display: block;
  color: #85858C
}
.generate-qr-btn-icon {
  margin-top: -6px;
}
.generate-qr-table-cell {
  margin: 15px;
  width: 450px;
  height: 450px;
}
.generate-qr-table {
  width: 75%;
  margin: 85px auto;
}
.qr-code-report-preview {
  margin: 15px;
  width: 350px;
}
/*#endregion */

/*#region --------- PRINTING ---------*/
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  main::after {
    content: "Copyright isite-oil.com";
    display: block;
    text-align: center;
  }
  header, .q-drawer-container, aside, .q-table__bottom {
    display: none;
  }
  .q-page-container {
    margin: 0 !important;
    padding: 0 !important;
  }
  .q-table__grid-content {
    display: block;
    text-align: center;
  }
  .qrCodeReport {
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    margin: 30px;
  }
  .qrCodeReport .text-yellow,
  .qrCodeReport .text-purple {
    color: #000 !important;
  }
}
/*#endregion -------------------------*/

/*#region ----------TICKETS ATTACH FILE------------*/
input[type=file] {
  display: none;
}
.col-12.custom-padding {
  margin-top: -14px;
}
.col-12.custom-padding
, .col-12.custom-padding .q-card__section {
  padding: 0 16px 2px;
}
.col-12.custom-padding .attachment-wrapper {
  min-height: 90px;
}
.attach-file-label {
  position: absolute;
  top: 50%;
  right: 10%;
  font-weight: 500;
  color: $purple !important;
  font-size: 12px;
}
.attach-file-label > i {
  margin-top: -5px;
}
.file-item {
  background: #E9E5E9;
  width: 200px;
  height: 30px;
  margin: 0 20px 15px 0;
  border-radius: 8px;
}
.file-item > div {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px 8px;
  color: $purple !important;
}
.file-item > div:nth-child(1) {
  width: 160px;
  font-size: 12px;
  line-height: 22px;
}
.file-item > div:nth-child(2) {
  margin-left: 10px;
}
/*#endregion --------------------------------------*/

/*#region ----------ATTACHED FILE PREVIEW------------*/
.preview-image-block{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.preview-image {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.preview-alt-icon {
  display: block;
  margin: auto;
  color: white;
}
.preview-alt-block {
  width: 300px
}
.preview-header-icon {
  position: fixed;
  top: 12px;
  left: 12px;
  color: white;
}
.preview-card{
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
}
.preview-header-text-desktop {
  position: fixed;
  top: 12px;
  left: 49px;
  font-size: 20px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 900px;
  white-space: nowrap;
}
.preview-header-text-mobile {
  position: fixed;
  top: 13px;
  left: 47px;
  font-size: 20px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
  white-space: nowrap;
}
.preview-control {
  color: #C4BAC6;
  font-size: 30px;
}
.preview-cancel {
  position: fixed;
  top: 12px;
  right: 12px;
}
.preview-download {
  position: fixed;
  top: 12px;
  right: 72px;
}
.preview-delete {
  position: fixed;
  top: 12px;
  right: 132px;
}
.preview-next {
  position: fixed;
  top: 49.5%;
  right: 13px;
  transform: translateY(-50%);
  color: white;
}
.preview-previous {
  position: fixed;
  top: 49.5%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
}
.preview-zoom-dock {
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.preview-qr-div-desktop {
  border-radius: 10px !important;
  background: white;
  width: 390px;
  height: 390px;
}
.preview-qr-div-mobile {
  background: white;
  width: 320px;
  height: 320px;
  border-radius: 10px !important;
}
.qr-view {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*#endregion --------------------------------------*/

/*#region ----------NOTIFICATION------------*/
.q-td-content{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
}
.notificationDeleteAllBtn {
  position: absolute;
  right: 33px;
  top: -1px;
}
.notificationReadAllBtn {
  position: absolute;
  right: 66px;
  top: -1px;
}
.q-table-window {
  margin: 0;
  border-radius: 0;
  border: none;
}
.q-table-window thead tr th {
  background: $grey-3;
}
.notification-footer {
  display: inline-block;
}
.notification-footer div {
  display: table-cell;
}
.notification-body {
  white-space: pre-wrap;
}
.notification-q-card {
  margin: 15px;
}
.notification-footer .initiator {
  padding-left: 20px
}
.notification-footer .date {
  padding-left: 40px
}
/*#endregion --------------------------------------*/
